<div id="footer">
    <div class="link fix">
      <div class="linkleft flL"><%= image_tag 'linkleft.gif' %></div>
      <div class="linklist flL">
        <div class="linktitle"><%= image_tag 'link.gif' %> </div>
        <div id="area" class="linkArea">
          <div id="list">
          <div id="list01">
            <ul>
             <li>
                    <%= image_tag '958shop.jpg' %>
                    <%= image_tag 'baibaobox.jpg' %>
                    <%= image_tag 'china_mobile.jpg' %>
                    <%= image_tag 'china_unicom.jpg' %>
                    <%= image_tag 'china_wire.jpg' %>
                    <%= image_tag 'datang.jpg' %>
                    <%= image_tag 'dongnan.jpg' %>
                   
              </li>
                            
            </ul>
          </div>
          <div id="list02"></div>
          </div>
        </div>
      </div>
      <div class="linkright flL"><%= image_tag 'linkright.gif' %></div>
    </div>
    <div class="copyright" style="color:#36333F;">Copyright(C)2011 趣游天下 Rights Reserved </div>
  </div>
