  <div id="header" class="fix">
    <div class="logo"><%= image_tag 'logo.png' %></div>
    <div class="nav">
      <ul>
        <li><a href="/" class="on">网站首页</a></li>
        <li><a href="/products" >公司产品</a></li>
        <li><a href="#" >最新资讯</a></li>
        <li><a href="/about" >公司介绍</a></li>
        <li><a href="/about/zxls" >招贤纳士</a></li>
      </ul>
    </div>
    <div class="banner" id="slides" >
      <div class="slides_container">

      <div>
        <%= image_tag 'ew-1.png' %>
      </div>
      <div>
        <%= image_tag 'hr-1.gif' %>
      </div>
      <div>
        <%= image_tag 'hz-1.png' %>
      </div>
      <div>
        <%= image_tag 'pic-1.png' %>
      </div>
      <div>
        <%= image_tag 'pinpai-1.jpg' %>
      </div>
      <div>
        <%= image_tag 'ry-1.png' %>
      </div>
      <div>
        <%= image_tag 'us.png' %>
      </div>
      <div>
        <%= image_tag 'zn-1.png' %>
      </div>

       
      </div>
    </div>
  </div>  

