
<%
  paginated_products = @searcher.products if params.key?(:keywords)
  paginated_products ||= products
%>
<% if products.empty? %>
  <%= t(:no_products_found) %>
<% elsif params.key?(:keywords) %>
  <h3><%= t(:search_results, :keywords => h(params[:keywords])) %></h3>
<% end %>

<% if products.any? %>
<ul id="products" class="product-listing" data-hook>
  <% products.each do |product| %>
    <% if Spree::Config[:show_zero_stock_products] || product.has_stock? %>
      <li>
        <div class="pic"><%= link_to product_image(product), product %></div>
        <div class="title">
          <%= link_to product.name, product, :class => 'info' %>
        </div>
        <div class='clear'></div>
      </li>
    <% end %>
  <% end %>
  <div class='clear'></div>
</ul>
<% end %>
<div class='clear'></div>
<% if paginated_products.respond_to?(:num_pages)
      params.delete(:search)
      params.delete(:taxon)
%><%= paginate paginated_products %><% end %>
