<div id="container" class="mt10 fix">
  <div class="crumb fix">
  </div>
  <div class="main">
    <div class='zor-main'>
         

          <div id="product-images" data-hook="product_images">
            <div id="main-image" data-hook>
              <%= render 'image' %>
            </div>
            <div id="thumbnails" data-hook>
              <%= render 'thumbnails', :product => @product %>
            </div>
          </div>

          <div id="product-description" data-hook="product_description">
            <%= product_description(@product) rescue t(:product_has_no_description) %>
            <div data-hook="product_properties">
              <%= render 'properties' %>
            </div>
          </div>
          <div class='clear'></div>
      </div>
    <div class='clear'></div>
  </div>
  <div class="aside">
    <div class="asideTop"></div>
    <div class="asideMiddle">
      <%= render 'taxons' %>
    </div>
    <div class="asideBottom"></div>
  </div>  
</div>


